/* App.css */

.list-view {
  width: 100%;
  border-collapse: collapse;
  font-family: Arial, sans-serif;
  font-size: 14px;
}

.list-view th
.list-view td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.list-view th {
  background-color: #f2f2f2;
}

.status-badge {
  display: inline-block;
  padding: 4px 10px;
  border-radius: 15px;
  font-size: 12px;
  font-weight: bold;
}

.status-cancelled {
  background-color: #e07474;
  color: #fff;
}

.status-on-the-way {
  background-color: #e48d2a;
  color: #fff;
}

.status-delivered {
  background-color: #83c1dd;
  color: #fff;
}

.status-ready {
  background-color: #00ff00;
  color: #000;
}

.actions-container {
  display: flex;
  justify-content: center;
  gap: 5px;
}

.action-button-d {
  font-weight: bold;
  background-color: #eb5965;
  border: none;
  border-radius: 50%;
  width: 26px;
  height: 26px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.action-button-e {
  font-weight: bold;
  background-color: #85aae2;
  border: none;
  border-radius: 50%;
  width: 26px;
  height: 26px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.action-button-v {
  font-weight: bold;
  background-color: #96eca9;
  border: none;
  border-radius: 50%;
  width: 26px;
  height: 26px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.action-button-e:hover {
  background-color: #e6e6e6;
}
.action-button-v:hover {
  background-color: #e6e6e6;
}
.action-button-d:hover {
  background-color: #e6e6e6;
}
.fas{
  color: #fff;
}